<html>
    <head>
        <title>{% spaceless %}{% block title %} {% endblock %} - Zabawy z Symfony {% endspaceless %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('bundles/lewisblog/css/style.css') }}">
    </head>
    <body>
        {% block header %}{% endblock %}
        <div class="container alerts">
            {% for type,messages in app.session.flashbag.all() %}
                {% for msg in messages %}
                    <div class="alert alert-{{ type }}">{{ msg }}</div>
                {% endfor %}
            {% endfor %}
        </div>
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>